.app {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}

.app--light {
  background-color: #fff;
  color: #222;
}

.app--dark {
  background-color: #222;
  color: #fff;
}

.app--light .card {
  background-color: #eee;
}

.app--dark .card {
  background-color: #333;
}

.card,
.toggler {
  border-radius: 10px;
}

.user-search-input {
  width: 8em;
  border-radius: 8px 0 0 8px;
  padding: 0.3em;
}

.user-search-btn {
  border-radius: 0 8px 8px 0;
  padding: 0.3em;
}
